%p= t('fat_free_crm.task_mailer.task_details.subject', username: @username) + ' :'
%p
  =simple_format @name
%br
%p
  Détails de la tâche :
  %br
  - unless @category.empty?
    %br
    ="Catégorie : #{t(@category)}"
  %br
  ="Deadline : #{@due_at}"
  %br
  ="Créée par : #{@created_by} le #{@created_at.strftime('%d/%m/%Y')}"
  - unless @assigned_to.blank?
    %br
    ="Assignée à : #{@assigned_to}"
  - unless @completed_at.blank?
    %br
    ="Complétée le : #{@completed_at} par #{@completed_by}"

- if @has_contact
  %p
  ="Contact : #{@contact_name}"
  -unless @contact_phone.blank?
    %br
    ="Téléphone : #{@contact_phone}"
  -unless @contact_mobile.blank?
    %br
    ="Mobile : #{@contact_mobile}"
  -unless @contact_fax.blank?
    %br
    ="Fax : #{@contact_fax}"
  -unless @contact_email.blank?
    %br
    ="Email : #{@contact_email}"
  -unless @contact_alt_email.blank?
    %br
    ="Email secondaire : #{@contact_alt_email}"
  -unless @contact_ctknid.blank?
    %br
    ="Code PMI : #{@contact_ctknid}"

- if @has_account
  %p
  ="Compte : #{@account_name}"
  -unless @account_phone.blank?
    %br
    ="Téléphone : #{@account_phone}"
  -unless @account_toll_free_phone.blank?
    %br
    ="Numéro vert : #{@account_toll_free_phone}"
  -unless @account_fax.blank?
    %brfrancois@fkoessler.net
    ="Mobile : #{@account_fax}"
  -unless @account_email.blank?
    %br
    ="Email : #{@account_email}"
  -unless @account_clktcode.blank?
    %br
    ="Code PMI : #{@account_clktcode}"

%p
  %small
    =t('click_link_to_see_task_in_crm')
    =raw "#{@link}"
