%p= t('fat_free_crm.task_mailer.task_details.subject', username: @username) + ' :'
%p
  =simple_format @name
%br
%p
  Détails de la tâche :
  %br
  - unless @category.empty?
    %br
    ="Catégorie : #{t(@category)}"
  %br
  ="Deadline : #{@due_at}"
  %br
  ="Créée par : #{@created_by} le #{@created_at.strftime('%d/%m/%Y')}"
  - unless @assigned_to.nil?
    %br
    ="Assignée à : #{@assigned_to}"
  - unless @completed_at.nil?
    %br
    ="Complétée le : #{@completed_at} par #{@completed_by}"
- if @has_contact
  %p
  ="Contact pour cette tâche : #{@contact_name}"
  -unless @contact_phone.nil?
    %br
    ="Téléphone : #{@contact_phone}"
  -unless @contact_toll_free_phone.nil?
    %br
    ="Numéro vert : #{@contact_toll_free_phone}"
  -unless @contact_mobile.nil?
    %br
    ="Mobile : #{@contact_mobile}"
  -unless @contact_fax.nil?
    %br
    ="Mobile : #{@contact_fax}"
  -unless @contact_email.nil?
    %br
    ="Email : #{@contact_email}"
  -unless @contact_alt_email.nil?
    %br
    ="Email secondaire : #{@contact_alt_email}"

%p
  %small
    =t('click_link_to_see_task_in_crm')
    =raw "#{@link}"
