%li.highlight{id: "#{comment.class.name.demodulize.underscore}_#{comment.id}", class: "#{comment.class.name.demodulize.underscore}"}
  = link_to avatar_for(comment.user, :size => :small), user_path(comment.user)

  .tools
    = link_to_edit(comment) + " | "
    = link_to_delete(comment)

  .indentslim
    = link_to comment.user.full_name, user_path(comment.user)
    %tt= timeago(comment.created_at)
    %dt= auto_link(simple_format comment.comment)
